.title {
    text-align: center;
}

#add-user-form {
    text-align: center;
}

#find-user-form {
    text-align: center;
}

#delete-user-form {
    text-align: center;
}

#points-form {
    text-align: center;
}